.component {
  background-color: $light-grey;
  border-radius: 5px;
  color: $dark-grey;
  padding: 20px 25px 30px;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
}

.toc {
  float: right;
  margin: 0 0 20px 15px;
}

.markdown-section table {
  width: auto;
}
